<div class="container mt-3">

  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="image-upload">
        <label for="file-input">
          <img src="https://cdn.icon-icons.com/icons2/1875/PNG/512/imagegallery_120168.png"
            alt="Click aquí para subir tu foto" title="Click aquí para subir tu foto">
        </label>
        <input id="file-input" type="file" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of items;let i=index" cdkDrag [ngClass]="{'cambiar-color': i==0}">
          {{item
          }} + {{i}}
          <div>
            <button class="btn btn-success m-1">+</button>
            <button class="btn btn-danger">x</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
