<div class="container mt-5 d-flex justify-content-center">
  <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" style="align-items: center;"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of timePeriods;let i=index" cdkDrag>
      <div>
        <div class="position-absolute">
          <button class="btn btn-danger" type="button" (click)="borrar(i,item)">x</button>
        </div>
        <img [src]="item?.url"class="img-fluid">
        <div class="mt-1 d-flex justify-content-center">
          <button type="button" class="btn btn-success" *ngIf="!item?.id">Cargar</button>
        </div>
      </div>
    </div>
  </div>
  <br>

</div>
<br>
<div class="d-flex justify-content-center">
  <div class="file-select" id="src-file1">
    <input type="file" name="src-file1" aria-label="Archivo" style="cursor: pointer;" (change)="subir($event)" multiple
      #fileInput>
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <div class="container">
      <div class="alert alert-primary animate__animated animate__backInUp" role="alert" *ngIf="cambia" id='cambia'>
        A simple primary alert—check it out!
      </div>
    </div>
  </div>
</div>
