<div class="container mt-5 d-flex justify-content-center">
  <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" style="align-items: center;"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let timePeriod of timePeriods;let i=index" cdkDrag>
      <div>
        <div class="position-absolute">
          <button class="btn btn-danger" type="button"  (click)="borrar(i)">x</button>
        </div>

        <img src={{timePeriod}} class="img-fluid">
      </div>
    </div>
  </div>
  <br>

</div>
<br>
<div class="d-flex justify-content-center">
  <div class="file-select" id="src-file1">
    <input type="file" name="src-file1" aria-label="Archivo" style="cursor: pointer;"
      (change)="subir($event)" multiple>
  </div>
</div>
<h1>json</h1>
